# Vivado / Vitis temporary files
.Xil/
*.jou
*.log
!validation_results/board_520/uart.log
*.str
*.tmp
*.backup.*
*.cache/
*.hw/
*.runs/
*.sim/
*.gen/
*.ip_user_files/
*.srcs/**/ip/*/
*.srcs/**/ipshared/*/
*.srcs/**/sim/
*.srcs/**/synth/
*.srcs/**/sources_1/bd/**/ip/
*.srcs/**/sources_1/bd/**/ipshared/
**/impl/ip/tmp.srcs/
**/impl/ip/.Xil/
**/impl/ip/*.cache/
**/impl/ip/*.gen/
**/impl/ip/*.runs/
**/impl/ip/*.sim/

# Vitis build outputs
Debug/
Release/
*.elf
*.o
*.d

# FPGA generated binaries
*.bit
*.bin
*.mmi
*.ltx

# Python
__pycache__/
*.pyc
.venv/
data/
checkpoints/*_reproduced.pt
validation_results/reproduced_*/
test_data/emnist_letters_stratified_520/*.png
test_data/emnist_letters_stratified_520/*.raw

# Temporary folders
tmp_*/
report_build_*/
reports/
!hls/reports/
!hls/reports/vit_transformer_layer_fused_csynth.rpt

# Eclipse / Vitis workspace metadata
.analytics
.claude/
.metadata/
.sdk/
RemoteSystemsTempFiles/

# Word temporary lock files
~$*.docx
